<div [formGroup]="formGroup">
  <mat-form-field><input matInput placeholder="Включення" formControlName="inclusionUa"></mat-form-field>
  <mat-form-field><input matInput placeholder="Виключення" formControlName="exclusionUa"></mat-form-field>
  <mat-form-field><input matInput placeholder="Крітерії" formControlName="criteriaUa"></mat-form-field>
  <mat-form-field><input matInput placeholder="Необхідно розглянути" formControlName="considerUa"></mat-form-field>
  <mat-form-field><input matInput placeholder="Примітка" formControlName="noteUa"></mat-form-field>
</div>

