<div [formGroup]="formGroup">
  <mat-form-field><textarea matInput placeholder="ICD10" formControlName="icd10" readonly></textarea></mat-form-field>
  <mat-form-field><textarea matInput placeholder="Включення" formControlName="inclusionUa" readonly></textarea></mat-form-field>
  <mat-form-field><textarea matInput placeholder="Виключення" formControlName="exclusionUa" readonly></textarea></mat-form-field>
  <mat-form-field><textarea matInput placeholder="Крітерії" formControlName="criteriaUa" readonly></textarea></mat-form-field>
  <mat-form-field><textarea matInput placeholder="Необхідно розглянути" formControlName="considerUa" readonly></textarea></mat-form-field>
  <mat-form-field><textarea matInput placeholder="Примітка" formControlName="noteUa" readonly></textarea></mat-form-field>
  <mat-form-field><textarea matInput placeholder="Коментар" formControlName="comment"></textarea></mat-form-field>
</div>

