<div class="grid-x" *ngIf="type === 'diagnosis'">
  <span class="cell medium-10 large-10">{{subVisit.diagnosis | icpcCode}}</span>
  <span class="cell medium-2 large-2 text-right">{{subVisit.date | date : 'dd/MM/yyyy'}}</span>
</div>

<ng-template [ngIf]="type === 'reasons'">
  <div *ngFor="let reason of subVisit.reasons" class="grid-x">
    <span class="cell medium-10 large-10">{{reason | icpcCode}}</span>
    <span class="cell medium-2 large-2 text-right">{{subVisit.date | date : 'dd/MM/yyyy'}}</span>
  </div>
</ng-template>
