<div>
  <div class="icpc-button-pane">
    <button mat-icon-button [mat-dialog-close]="false">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
  <h2 mat-dialog-title>Деталі епізоду</h2>
  <mat-tab-group #tg>
    <mat-tab label="Причина">
      <!--TODO: optimize-->
      <mat-expansion-panel [expanded]="false" *ngFor="let reason of visit.reasons;">
        <mat-expansion-panel-header>
          <mat-panel-title>{{reason.shortTitleUa}}</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description>
          <div>
            <h4>MKX-10</h4>
            <span>{{reason.shortTitleUa}}</span>
          </div>
          <div>
            <h4>Включення</h4>
            <span>{{reason.inclusionUa}}</span>
          </div>
          <div>
            <h4>Виключення</h4>
            <span>{{reason.exclusionUa}}</span>
          </div>
        </mat-panel-description>
      </mat-expansion-panel>
    </mat-tab>
    <mat-tab label="Діагноз" #t>
      <ng-template [ngIf]="tg.selectedIndex == 1">
        <mat-expansion-panel [expanded]="false">
          <mat-expansion-panel-header>
            <mat-panel-title>{{visit.diagnosis.shortTitleUa}}</mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <h4>MKX-10</h4>
            <span>{{visit.diagnosis.shortTitleUa}}</span>
          </div>
          <div>
            <h4>Включення</h4>
            <span>{{visit.diagnosis.inclusionUa}}</span>
          </div>
          <div>
            <h4>Виключення</h4>
            <span>{{visit.diagnosis.exclusionUa}}</span>
          </div>
        </mat-expansion-panel>
      </ng-template>
    </mat-tab>
    <mat-tab label="Дія" #t>
      <ng-template [ngIf]="tg.selectedIndex == 2">
        <mat-expansion-panel [expanded]="false" *ngFor="let action of visit.actions">
          <mat-expansion-panel-header>
            <mat-panel-title>{{action.shortTitleUa}}</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-panel-description>
            <div>
              <h4>MKX-10</h4>
              <span>{{action.shortTitleUa}}</span>
            </div>
            <div>
              <h4>Включення</h4>
              <span>{{action.inclusionUa}}</span>
            </div>
            <div>
              <h4>Виключення</h4>
              <span>{{action.exclusionUa}}</span>
            </div>
          </mat-panel-description>
        </mat-expansion-panel>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
