<div>
  <div class="icpc-button-pane">
    <button md-icon-button [md-dialog-close]="false">
      <md-icon>clear</md-icon>
    </button>
  </div>
  <h2 md-dialog-title>Деталі епізоду</h2>
  <md-tab-group #tg>
    <md-tab label="Причина">
      <!--TODO: optimize-->
      <md-expansion-panel [expanded]="false" *ngFor="let reason of visit.reasons;">
        <md-expansion-panel-header>
          <md-panel-title>{{(reason | icpcTransform | async).shortTitleUa}}</md-panel-title>
        </md-expansion-panel-header>
        <md-panel-description>
          <div>
            <h4>MKX-10</h4>
            <span>{{(reason | icpcTransform | async).shortTitleUa}}</span>
          </div>
          <div>
            <h4>Включення</h4>
            <span>{{(reason | icpcTransform | async).inclusionUa}}</span>
          </div>
          <div>
            <h4>Виключення</h4>
            <span>{{(reason | icpcTransform | async).exclusionUa}}</span>
          </div>
        </md-panel-description>
      </md-expansion-panel>
    </md-tab>
    <md-tab label="Діагноз" #t>
      <ng-template [ngIf]="tg.selectedIndex == 1">
        <md-expansion-panel [expanded]="false">
          <md-expansion-panel-header>
            <md-panel-title>{{(visit.diagnosis | icpcTransform | async).shortTitleUa}}</md-panel-title>
          </md-expansion-panel-header>
          <div>
            <h4>MKX-10</h4>
            <span>{{(visit.diagnosis | icpcTransform | async).shortTitleUa}}</span>
          </div>
          <div>
            <h4>Включення</h4>
            <span>{{(visit.diagnosis | icpcTransform | async).inclusionUa}}</span>
          </div>
          <div>
            <h4>Виключення</h4>
            <span>{{(visit.diagnosis | icpcTransform | async).exclusionUa}}</span>
          </div>
        </md-expansion-panel>
      </ng-template>
    </md-tab>
    <md-tab label="Дія" #t>
      <ng-template [ngIf]="tg.selectedIndex == 2">
        <md-expansion-panel [expanded]="false" *ngFor="let action of visit.actions">
          <md-expansion-panel-header>
            <md-panel-title>{{(action | icpcTransform | async).shortTitleUa}}</md-panel-title>
          </md-expansion-panel-header>
          <md-panel-description>
            <div>
              <h4>MKX-10</h4>
              <span>{{(action | icpcTransform | async).shortTitleUa}}</span>
            </div>
            <div>
              <h4>Включення</h4>
              <span>{{(action | icpcTransform | async).inclusionUa}}</span>
            </div>
            <div>
              <h4>Виключення</h4>
              <span>{{(action | icpcTransform | async).exclusionUa}}</span>
            </div>
          </md-panel-description>
        </md-expansion-panel>
      </ng-template>
    </md-tab>
  </md-tab-group>
</div>
