<div class="patient-details">
  <md-tab-group>
    <md-tab [label]="episodesLabel">
      <div class="grid-x">
        <div class="small-6 cell" *ngFor="let episode of patient.episodes">
          <div class="card-container">
            <md-card>
              <div>Епізод
                <button md-icon-button (click)="openEditEpisodeModal(episode)">
                  <md-icon>edit</md-icon>
                </button>
              </div>
              <h3>{{episode.name}}</h3>
              <hr/>
              <div>Діагноз</div>
              <div class="grid-x" *ngFor="let visit of episode.visits">
                <div class="grid-x" *ngFor="let diagnosis of visit.diagnoses">
                  <span>{{diagnosis | icpcCode}}</span>
                  <span class="align-right">{{visit.date | date : 'dd/MM'}}</span>
                </div>
              </div>
              <md-card-actions>
                <button md-button (click)="openAddVisitModal(episode)">Додати підвізит</button>
              </md-card-actions>
            </md-card>
          </div>
        </div>
      </div>
    </md-tab>
    <md-tab [label]="visitsLabel">Content 2</md-tab>
  </md-tab-group>
  <div class="grid-x">
    <button md-button (click)="openAddEpisodeModal()">Новий епізод</button>
  </div>
</div>

