<div class="patient-details">
  <md-tab-group>
    <md-tab [label]="episodesLabel">
      <div class="grid-x">
        <div class="small-6 cell" *ngFor="let episode of patient.episodes">
          <div class="card-container">
            <icpc-episode-card [patient]="patient" [episode]="episode"></icpc-episode-card>
          </div>
        </div>
      </div>
      <br/>
      <div class="card-container">
        <div class="grid-x">
          <button md-button class="circle" (click)="openCreateSubvisitDialog()">Новий візит</button>
        </div>
      </div>
    </md-tab>
    <md-tab [label]="visitsLabel">
      <div class="grid-x">
        <div class="small-6 cell" *ngFor="let entry of visits">
          <div class="card-container">
            <icpc-visit-card [visit]="entry"></icpc-visit-card>
          </div>
        </div>
      </div>
    </md-tab>
  </md-tab-group>
</div>

