<icpc-diagnosis-select [autocomplete]="true" [formControl]="diagnosisControl"></icpc-diagnosis-select>
<mat-list *ngIf="diagnosisControl?.value">
  <mat-list-item>
    <mat-expansion-panel [expanded]="false" class="width-100">
      <mat-expansion-panel-header>
        <mat-panel-title>{{diagnosisControl.value | icpcCode}}</mat-panel-title>
      </mat-expansion-panel-header>
      <icpc-code-form [formControl]="diagnosisControl"></icpc-code-form>
    </mat-expansion-panel>
  </mat-list-item>
</mat-list>
