<mat-card class="icpc-card" [class.ended]="episode.ended">
  <div class="mat-error" *ngIf="episode.ended">Закритий ({{ episode.endDate | date : 'dd.MM.yyyy' }})</div>
  <div class="icpc-card-header">
    <div class="icpc-button-pane">
      <button mat-icon-button *ngIf="!episode.ended" (click)="openEditEpisodeModal(episode)">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <label class="icpc-label">Епізод</label>
    <h4 class="clickable" (click)="openEpisodeDetailsModal(episode)">{{episode | episode}}</h4>
  </div>
  <div>
    <label class="icpc-label">Причини звернення</label>
    <ul class="simple-list">
      <li *ngFor="let id of episode.subVisits; let odd=odd" [ngClass]="{odd: odd}" class="list-item">
        <icpc-subvisit-card type="reasons" class="clickable" (click)="openVisitDetailsModal(getVisit(id))"
                            [subVisit]="getVisit(id)"></icpc-subvisit-card>
      </li>
    </ul>
  </div>

  <mat-card-actions>
    <button mat-button (click)="openCreateSubvisitDialog(episode)" *ngIf="!episode.ended">Додати підвізит</button>
  </mat-card-actions>
</mat-card>
