<div class="icpc-card">
  <div class="icpc-button-pane">
    <button mat-icon-button [mat-dialog-close]="false">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
  <h4 mat-dialog-title>Змінити епізод</h4>
  <div>
    <label class="icpc-label">Діагноз</label>
    <h4>{{visit.diagnosis.shortTitleUa}}</h4>
  </div>
  <mat-tab-group>
    <mat-tab label="Зміна епізоду">
      <mat-list>
        <mat-radio-group [formControl]="episodeControl">
          <mat-list-item *ngFor="let episode of episodes">
            <mat-radio-button [value]="episode">{{episode | episode}}</mat-radio-button>
          </mat-list-item>
        </mat-radio-group>
      </mat-list>
      <div *ngIf="episodeControl.value?.id === -1">
        <mat-form-field class="xl">
          <input type="text" placeholder="Назва" matInput [formControl]="episodeNameControl">
        </mat-form-field>
      </div>
      <button mat-button (click)="save()">Змінити</button>
    </mat-tab>
  </mat-tab-group>
</div>
