<!--The content below is only a placeholder and can be replaced.-->
<!--<div class="grid-x">-->
  <!--<div class="cell">full width cell</div>-->
  <!--<div class="cell">full width cell</div>-->
<!--</div>-->
<!--<div class="grid-x">-->
  <!--<div class="small-12 medium-6 large-6 cell">6 cells</div>-->
  <!--<div class="hide-for-small-only medium-6 large-6 cell">6 cells</div>-->
<!--</div>-->
<!--<div class="grid-x">-->
  <!--<div class="medium-6 large-4 cell">12/6/4 cells</div>-->
  <!--<div class="medium-6 large-8 cell">12/6/8 cells</div>-->
<!--</div>-->

<router-outlet></router-outlet>

