<div>
  <mat-radio-group [formControl]="episodeCheckbox" required="">
    <div>
      <mat-radio-button [value]="true">Створити новий епізод</mat-radio-button>
      <div *ngIf="episodeCheckbox.value" [formGroup]="episodeNameGroup">
        <mat-form-field class="xxl">
          <mat-select placeholder="Діагноз" formControlName="diagnosis">
            <mat-option *ngFor="let diagnosis of diagnosisOptions | async" [value]="diagnosis.code">
              {{diagnosis | icpcCode}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="s">
          <input type="text" placeholder="Суфікс" matInput
                 formControlName="episode">
        </mat-form-field>
        <span>*</span>
        <div><span class="asterisk-text">*Назва епізоду складається з діагнозу та опціонального суфіксу (може бути відсутнім, відображати дату, і т.д.)</span></div>
      </div>
    </div>
    <div>
      <mat-radio-button [value]="false">Додати до існуючого епізоду</mat-radio-button>
      <div *ngIf="episodeCheckbox.value === false">
        <mat-form-field class="xxl">
          <input type="text" placeholder="Введіть назву епізоду" matInput
                 [matAutocomplete]="episode"
                 [disabled]="disabled"
                 [formControl]="episodeSearch">
        </mat-form-field>

        <mat-autocomplete #episode="matAutocomplete" [displayWith]="formatEpisode">
          <mat-option *ngFor="let option of episodeOptions | async" [value]="option">
            {{ option | episode }}
          </mat-option>
        </mat-autocomplete>
      </div>
    </div>
  </mat-radio-group>
</div>
