<div [formGroup]="formGroup">
  <md-dialog-actions>
    <button md-icon-button [md-dialog-close]="false">
      <md-icon>clear</md-icon>
    </button>
  </md-dialog-actions>
  <h2 md-dialog-title>Створення підвізиту</h2>
  <md-dialog-content>
    <div>
      <md-form-field>
        <input mdInput [mdDatepicker]="picker" placeholder="Дата звернення" formControlName="date">
        <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
        <md-datepicker #picker></md-datepicker>
      </md-form-field>
    </div>

    <md-form-field>
      <input placeholder="Епізод" mdInput formControlName="name" [readonly]="true">
    </md-form-field>

    <md-tab-group [selectedIndex]="selectedTab" (selectedIndexChange)="changeSelectedTab($event)">
      <md-tab label="Причина">
        <md-form-field>
          <input type="text" placeholder="введіть причину чи код" mdInput [formControl]="reasonSearch" [mdAutocomplete]="reason">
        </md-form-field>

        <md-autocomplete #reason="mdAutocomplete" (optionSelected)="onReasonSelected($event)">
          <md-option *ngFor="let option of reasonOptions | async" [value]="option">
            {{ option | icpcCode}}
          </md-option>
        </md-autocomplete>
        <md-list>
          <md-list-item *ngFor="let reason of reasonsField.value; let index=index;">
            {{reason | icpcCode}}
            <button md-icon-button (click)="deleteReason(index)">
              <md-icon>clear</md-icon>
            </button>
          </md-list-item>
        </md-list>
        <span>Варто пам'ятати! Ви можете вибрати декілька кодів для кожного поля</span>
      </md-tab>
      <md-tab label="Діагноз" [disabled]="!diagnosesEnabled">
        <md-form-field>
          <input type="text" placeholder="введіть причину чи код" mdInput formControlName="diagnosis" [mdAutocomplete]="diagnosis">
        </md-form-field>

        <md-autocomplete #diagnosis="mdAutocomplete" [displayWith]="formatDiagnosis" (optionSelected)="onDiagnosisSelected($event)">
          <md-option *ngFor="let option of diagnosisOptions | async" [value]="option">
            {{ option | icpcCode}}
          </md-option>
        </md-autocomplete>
      </md-tab>

      <md-tab label="Дія" [disabled]="!actionsEnabled">
        <md-form-field>
          <input type="text" placeholder="введіть причину чи код" mdInput [formControl]="actionSearch" [mdAutocomplete]="action">
        </md-form-field>

        <md-autocomplete #action="mdAutocomplete" (optionSelected)="onActionSelected($event)">
          <md-option *ngFor="let option of actionOptions | async" [value]="option">
            {{ option | icpcCode}}
          </md-option>
        </md-autocomplete>

        <md-list>
          <md-list-item *ngFor="let action of actionsField.value; let index=index;">
            {{action | icpcCode}}
            <button md-icon-button (click)="deleteAction(index)">
              <md-icon>clear</md-icon>
            </button>
          </md-list-item>
        </md-list>
        <span>Варто пам'ятати! Ви можете вибрати декілька кодів для кожного поля</span>
      </md-tab>
    </md-tab-group>
    <md-dialog-actions>
      <button md-button (click)="nextTab()" [disabled]="!canSelectNext" *ngIf="!canSave">Далі</button>
      <button md-button (click)="save()" *ngIf="canSave">Зберегти</button>
    </md-dialog-actions>

  </md-dialog-content>
</div>
