<md-form-field>
  <input type="text" placeholder="введіть причину чи код" mdInput [formControl]="actionSearch" [mdAutocomplete]="action">
</md-form-field>

<md-autocomplete #action="mdAutocomplete" (optionSelected)="onActionSelected($event)">
  <md-option *ngFor="let option of actionOptions | async" [value]="option">
    {{ option | icpcCode}}
  </md-option>
</md-autocomplete>

<md-list>
  <md-list-item *ngFor="let action of actionsControl.value; let index=index;">
    {{action | icpcCode}}
    <button md-icon-button (click)="deleteAction(index)">
      <md-icon>clear</md-icon>
    </button>
  </md-list-item>
</md-list>
