<mat-form-field>
  <input type="text" placeholder="введіть причину чи код" matInput [formControl]="actionSearch" [matAutocomplete]="action">
</mat-form-field>

<mat-autocomplete #action="matAutocomplete" (optionSelected)="onActionSelected($event)">
  <mat-option *ngFor="let option of actionOptions | async" [value]="option">
    {{ option | icpcCode}}
  </mat-option>
</mat-autocomplete>

<mat-list>
  <mat-list-item *ngFor="let actionControl of actionsControl.controls; let index=index;">
    <mat-expansion-panel [expanded]="false" class="width-100">
      <mat-expansion-panel-header>
        <mat-panel-title>{{actionControl.value | icpcCode}}</mat-panel-title>
      </mat-expansion-panel-header>
      <icpc-code-form [formControl]="actionControl"></icpc-code-form>
    </mat-expansion-panel>
    <button mat-icon-button (click)="deleteAction(index)">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-list-item>
</mat-list>
