<mat-form-field>
  <input type="text" placeholder="введіть причину чи код" matInput [formControl]="actionSearch" [matAutocomplete]="action">
</mat-form-field>

<mat-autocomplete #action="matAutocomplete" (optionSelected)="onActionSelected($event)">
  <mat-option *ngFor="let option of actionOptions | async" [value]="option">
    {{ option | icpcCode}}
  </mat-option>
</mat-autocomplete>

<mat-list>
  <mat-list-item *ngFor="let action of actionsControl.value; let index=index;">
    <mat-expansion-panel [expanded]="false" class="width-100">
      <mat-expansion-panel-header>
        <mat-panel-title>{{(action | icpcTransform | async).shortTitleUa}}</mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <h4>MKX-10</h4>
        <span>{{(action | icpcTransform | async).shortTitleUa}}</span>
      </div>
      <div>
        <h4>Включення</h4>
        <span>{{(action | icpcTransform | async).inclusionUa}}</span>
      </div>
      <div>
        <h4>Виключення</h4>
        <span>{{(action | icpcTransform | async).exclusionUa}}</span>
      </div>
    </mat-expansion-panel>
    <button mat-icon-button (click)="deleteAction(index)">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-list-item>
</mat-list>
