<div [formGroup]="episodeNameGroup">
  <div class="icpc-button-pane">
    <button mat-icon-button [mat-dialog-close]="false">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
  <h2 mat-dialog-title>Редагування епізоду</h2>
  <mat-dialog-content>
    <div>
      <mat-form-field class="s">
        <mat-select placeholder="Діагноз" formControlName="diagnosis">
          <mat-option *ngFor="let diagnosis of diagnoses" [value]="diagnosis">
            {{diagnosis}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="xl">
        <input type="text" placeholder="Введіть назву епізоду" matInput
               formControlName="episode">
      </mat-form-field>
    </div>

    <mat-tab-group>
      <mat-tab label="Зміни">
        <mat-list>
          <mat-list-item *ngFor="let item of episode.history">{{item | episode}} {{item.date | date : 'dd/MM'}}</mat-list-item>
        </mat-list>
      </mat-tab>
    </mat-tab-group>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button (click)="save()">Зберегти</button>
  </mat-dialog-actions>
</div>
