.doctor-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*background: #f5f8fb;*/
}

.doctor-img {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  top: 50%;
  margin-top: -200px;
  background: url('/assets/images/MOZ.jpg');
  background-size: 400px;
}
