.doctor-container {
  margin-top: 50vh;
  position: relative;
}

.doctor-img {
  position: relative;
  width: 400px;
  height: 400px;
  margin: -300px auto 0;
  background: url('/assets/images/MOZ.jpg');
  background-size: 400px;
}

@media screen and (max-width: 639px) {
  .doctor-container {
    display: none;
  }
}
