/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/foundation.min.css";

.visit-details h2 {
  margin-bottom: 5px;
  font-size: 1.3em;
}
.visit-details h5 {
  margin: 5px 0;
  font-size: 1em;
  font-weight: normal;
}
.logo {
  height:  64px;
}

.mat-dialog-container {
  position: relative;
}

.mat-form-field {
  width: 100% !important;
}

.xs {
  width: 10% !important;
}

.s {
  width: 20% !important;
}

.m {
  width: 30% !important;
}

.l {
  width: 40% !important;
}

.xl {
  width: 50% !important;
}

.xxl {
  width: 60% !important;
}

.mat-dialog-title {
  font-size: 1.5em;
  line-height: 1.5em;
}

.icpc-label {
  margin-top: 3px;
  font-size: .7em;
  font-weight: bold;
  color: #acacac;
}

.icpc-button-pane {
  position: absolute;
  right: 10px;
}

.icpc-card-header {
  border-bottom: 1px solid #acacac;
}

.icpc-card.ended {
  background: #f3f3f3;
}

.icpc-card h4, .icpc-card-header h4 {
  margin: 0;
}

.icpc-card .mat-list-item-content {
  padding: 0 !important;
}

icpc-subvisit-card.clickable:hover > div, .clickable:hover {
  cursor: pointer;
  background: #f3f0fb;
}

button.mat-button, button.mat-icon-button {
  color: #8969e0;
}
button.mat-primary:hover:not([disabled]) {
  background: #8de678;
  color: #222;
}

button.mat-button.circle {
  color: #8969e0;
  border: #8969e0 1px solid;
  border-radius: 30px;
}

.mat-list-item-content {
  height: auto !important;
  min-height: 48px;
}

.mat-list-item {
  box-sizing: border-box;
  /*border-bottom: #acacac 1px solid;*/
  margin-bottom: 8px;
}

.text-right {
  text-align: right;
}

.odd.list-item {
  /*background: #F6F3FE;*/
}
.simple-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.simple-list li {
  padding: 5px 0;
  line-height: 40px;
  border-bottom: #acacac 1px solid;
}

.patient-card {
  border-bottom: #acacac 1px solid;
}

.patient-menu-container {
  border-right: #dadada 1px solid;
}

.patient-card-header {
  /*height: 40px;*/
  border-bottom: #dadada 1px solid;
  padding: 12px 20px;
}

.full-height {
  height: 100%;
}

html, body, icpc-root, icpc-patients {
  height: 100%;
}

.page-content {
  background: #f5f8fb;
  height: 100%;
}

icpc-patient.active mat-card {
  background: #f3f0fb;
}

icpc-patient.active .patient-card:before {
  display: block;
  content: ' ';
  height: 100%;
  background: #8969e0;
  width: 5px;
  position: absolute;
  z-index: 100;
  float: left;
}

.patient-details .btn-group button {
  margin-right: 10px;
}

.asterisk-text {
  font-size: 0.8em;
  color: #acacac;
}

.fill-space {
  flex: 1 1 auto;
}
.icpc-mt-10 {
  margin-top: 10px;
}
