<mat-form-field>
  <input type="text" placeholder="введіть причину чи код" matInput [formControl]="reasonSearch" [matAutocomplete]="reason">
  <mat-error>Вкажіть причину</mat-error>
</mat-form-field>

<mat-autocomplete #reason="matAutocomplete" (optionSelected)="onReasonSelected($event)">
  <mat-option *ngFor="let option of reasonOptions | async" [value]="option">
    {{ option | icpcCode}}
  </mat-option>
</mat-autocomplete>

<mat-list>
  <mat-list-item *ngFor="let reasonControl of reasonsControl.controls; let index=index;">
    <mat-expansion-panel [expanded]="false" class="width-100">
      <mat-expansion-panel-header>
        <mat-panel-title>{{reasonControl.value | icpcCode}}</mat-panel-title>
      </mat-expansion-panel-header>
      <icpc-code-form [formControl]="reasonControl"></icpc-code-form>
    </mat-expansion-panel>
    <button mat-icon-button (click)="deleteReason(index)">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-list-item>
</mat-list>

