<mat-form-field>
  <input type="text" placeholder="введіть причину чи код" matInput [formControl]="reasonSearch" [matAutocomplete]="reason">
</mat-form-field>

<mat-autocomplete #reason="matAutocomplete" (optionSelected)="onReasonSelected($event)">
  <mat-option *ngFor="let option of reasonOptions | async" [value]="option">
    {{ option | icpcCode}}
  </mat-option>
</mat-autocomplete>
<mat-list>
  <mat-list-item *ngFor="let reason of reasonsControl.value; let index=index;">
    {{reason | icpcTransform | async | icpcCode}}
    <button mat-icon-button (click)="deleteReason(index)">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-list-item>
</mat-list>

