table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
table td, table th {
  border-bottom: 1px solid #acacac;
}

table td:last-child, table th:last-child {
  width: 50px;
}

table th {
  text-align: left;
}

table td span {
  padding-right: 5px;
}
