<div [formGroup]="formGroup">
  <div class="icpc-button-pane">
    <button mat-icon-button *ngIf="!episode.ended" (click)="openEditEpisodeModal(episode)">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button [mat-dialog-close]="false">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
  <h4 mat-dialog-title>{{episode | episode}}</h4>
  <mat-tab-group #tabGroup>
    <mat-tab [label]="visitsLabel">
      <table class="code-details">
        <thead>
          <tr>
            <th>Дата</th>
            <th>Причина захворювання</th>
            <th>Діагноз</th>
            <th>Дії</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let subVisit of episode.subVisits;" (click)="openVisitDetailsModal(getVisit(visit))">
            <td>
              <span>{{getVisit(subVisit).date | date: 'dd.MM.yyyy'}}</span></td>
            <td><span *ngFor="let reason of getVisit(subVisit).reasons" [matTooltip]="reason | icpcCode">{{reason.code}}</span></td>
            <td><span [matTooltip]="getVisit(subVisit).diagnosis | icpcCode">{{getVisit(subVisit).diagnosis.code}}</span></td>
            <td><span *ngFor="let action of getVisit(subVisit).actions" [matTooltip]="action | icpcCode">{{action.code}}</span></td>
            <td>
              <mat-menu #appMenu="matMenu">
                <button mat-menu-item (click)="openChangeEpisodeDialog(getVisit(subVisit))">Змінити епізод</button>
              </mat-menu>
              <button mat-icon-button [matMenuTriggerFor]="appMenu" *ngIf="!episode.ended">
                <mat-icon>more_horiz</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="icpc-mt-10">
        <button mat-button (click)="openCloseEpisodeDialog(episode)" *ngIf="!episode.ended">Закрити епізод</button>
        <button mat-button (click)="openCreateSubvisitDialog(episode)" *ngIf="!episode.ended">Додати підвізит</button>
      </div>
    </mat-tab>
    <mat-tab label="Коментарі">
      <mat-form-field><textarea matInput placeholder="Коментарі" formControlName="comments"></textarea></mat-form-field>
      <div class="icpc-mt-10">
        <button mat-button (click)="saveComment(episode)" *ngIf="!episode.ended">Зберегти коментар</button>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
