<div *ngIf="autocomplete;then autocmplt else select"></div>
<ng-template #autocmplt>
  <mat-form-field [class]="clazz">
    <input type="text" placeholder="введіть причину чи код" matInput [formControl]="diagnosisControl" [matAutocomplete]="diagnosis" required>
    <mat-error>Вкажіть діагноз</mat-error>
  </mat-form-field>
  <mat-autocomplete #diagnosis="matAutocomplete" [displayWith]="formatDiagnosis">
    <mat-option *ngFor="let option of diagnosisOptions | async" [value]="option.code">
      {{ option | icpcCode}}
    </mat-option>
  </mat-autocomplete>
</ng-template>
<ng-template #select>
  <mat-form-field [ngClass]="clazz">
    <mat-select placeholder="Діагноз" [formControl]="diagnosisControl">
      <mat-option *ngFor="let option of diagnosisOptions | async" [value]="option.code">
        {{option | icpcCode}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</ng-template>

